li {
  list-style: none;
  float: left;
}
ul,
ol {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "微软雅黑";
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.breadcrumb {
  display: inline-block;
  padding: 5px 0px;
  background: #fff;
  margin-bottom: 5px;
}
.breadcrumb li.active {
  color: #337ab7;
}
.breadcrumb li a {
  color: #666;
}
.breadcrumb li b {
  color: #666;
}
.more .col-md-9 .sider {
  background: #f5f5f5;
}
.more .col-md-9 .sider .nav {
  border-bottom: 2px solid #0BB2F5;
}
.more .col-md-9 .sider .nav .left {
  float: left;
}
.more .col-md-9 .sider .nav .left ul li a {
  display: block;
  padding: 8px 20px;
  cursor: pointer;
}
.more .col-md-9 .sider .nav .left ul li a:hover {
  background: #0BB2F5;
  color: #fff;
  text-decoration: none;
}
.more .col-md-9 .sider .nav .left ul li .active {
  background: #0BB2F5;
  color: #fff;
}
.more .col-md-9 .sider .nav .right {
  float: right;
}
.more .col-md-9 .sider .nav .right ul li a {
  cursor: pointer;
  color: #333;
  padding: 8px 20px;
  display: inline-block;
}
.more .col-md-9 .sider .nav .right ul li a:hover {
  text-decoration: underline;
  color: #337ab7;
  text-decoration: none;
}
.more .col-md-9 .sider .nav .right ul li a.active {
  background: #0BB2F5;
  color: #fff;
}
.more .col-md-9 .sider .nav .right ul li a.active:hover {
  background: #0BB2F5;
  color: #fff;
}
.more .col-md-9 .sider .search dl:not(:last-child) {
  border-bottom: 1px solid #D2D1D1;
}
.more .col-md-9 .sider .search dl {
  width: 100%;
  height: 49px;
  margin-bottom: 0px;
}
.more .col-md-9 .sider .search dl dt {
  float: left;
  padding: 0px 15px;
  color: #6E6D6D;
  font-weight: 100;
  background: #E2E2E2;
  line-height: 48px;
}
.more .col-md-9 .sider .search dl dd {
  line-height: 48px;
  padding-right: 10px;
}
.more .col-md-9 .sider .search dl dd a {
  padding: 6px 10px;
  color: #666;
  margin-left: 10px;
  margin-right: 10px;
}
.more .col-md-9 .sider .search dl dd a:hover {
  text-decoration: none;
  background: #0BB2F5;
  color: #fff;
  border-radius: 2px;
}
.more .col-md-9 .sider .search dl dd a.active {
  background: #0BB2F5;
  color: #fff;
  border-radius: 2px;
}
.more .col-md-9 .brushnav {
  margin: 10px 0px;
  background: #f5f5f5;
  height: 35px;
  line-height: 35px;
}
.more .col-md-9 .brushnav ul li {
  padding: 0px 20px;
}
.more .col-md-9 .brushnav ul span {
  padding-left: 5px;
  font-size: 5px;
}
.more .col-md-9 .brushnav ul .active {
  background: #0bb2f5;
}
.more .col-md-9 .brushnav ul .active a {
  color: #fff;
}
.more .col-md-9 .brushnav ul li.money {
  color: #f62;
}
.more .col-md-9 .brushnav ul li.money .web {
  line-height: 18px;
  width: 56px;
}
.more .col-md-9 .brushnav ul li.money .button {
  width: 56px;
  line-height: 21px;
  border: 1px solid #CACACA;
  background: #CACACA;
  color: #333;
}
.more .col-md-9 .leftcon .box:not(:last-child) {
  border-bottom: 1px solid #d2d1d1;
}
.more .col-md-9 .leftcon .box {
  padding: 20px 10px;
  background: #f5f5f5;
}
.more .col-md-9 .leftcon .box h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 15px 10px 10px;
  font-size: 18px;
  margin: 0px;
}
.more .col-md-9 .leftcon .box .boxcon .left {
  width: 191px;
  height: 143px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
.more .col-md-9 .leftcon .box .boxcon .left img {
  width: 100%;
  height: 100%;
}
.more .col-md-9 .leftcon .box .boxcon .middle {
  float: left;
  padding: 5px;
}
.more .col-md-9 .leftcon .box .boxcon .middle .iicon {
  margin-bottom: 10px;
}
.more .col-md-9 .leftcon .box .boxcon .middle .icon_mkt {
  background-color: #32C6C6;
  color: #fff;
  padding: 0px 10px;
  border-radius: 10px;
}
.more .col-md-9 .leftcon .box .boxcon .middle .icon_hot {
  background-color: #D7E658;
  color: #fff;
  padding: 0px 10px;
  border-radius: 10px;
}
.more .col-md-9 .leftcon .box .boxcon .middle p {
  margin: 0px;
  line-height: 24px;
}
.more .col-md-9 .leftcon .box .boxcon .middle font {
  color: #999;
  padding-right: 5px;
}
.more .col-md-9 .leftcon .box .boxcon .right {
  margin-top: 10px;
  float: right;
  margin-right: 20px;
}
.more .col-md-9 .leftcon .box .boxcon .right .r01 {
  text-align: center;
  color: #ff5b45;
  padding-top: 10px;
  margin-bottom: 0px;
}
.more .col-md-9 .leftcon .box .boxcon .right .r01 strong {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
}
.more .col-md-9 .leftcon .box .boxcon .right .r02 {
  border-radius: 3px;
  font-size: 15px;
  background-color: #ff5b45;
  padding: 6px 26px;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}
.more .col-md-9 .leftcon .box .boxcon .right .r02 a {
  color: #fff;
}
.more .col-md-9 .leftcon .box .boxcon .right .r02 a:Hover {
  text-decoration: none;
}
.more .col-md-9 .leftcon .box .boxcon .right .r02:hover {
  background-color: #f71d00;
}
.more .col-md-9 .leftcon .box .boxcon .clear {
  zoom: 1;
  clear: both;
}
.more .col-md-9 .leftcon .fenye {
  text-align: center;
}
.more .col-md-3 .choose {
  margin-bottom: 20px;
  background: #f5f5f5;
}
.more .col-md-3 .choose h4 {
  padding: 15px 5px 10px 15px;
  margin: 0px;
  border-bottom: 1px solid #D2D1D1;
}
.more .col-md-3 .choose .con {
  display: inline-block;
  padding: 10px 15px 10px 15px;
}
.more .col-md-3 .choose .con ul li span {
  float: left;
  height: 50px;
  padding-right: 10px;
  font-size: 24px;
}
.more .col-md-3 .choose .con ul li h5 {
  margin: 0px;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 2px;
}
.more .col-md-3 .choose .con ul li p {
  color: #666;
  border-bottom: 1px solid #d2d1d1;
  padding-bottom: 8px;
}
.more .col-md-3 .choose .manyi {
  color: #666;
  display: inline-block;
}
.more .col-md-3 .choose .manyi .baifen {
  width: 35%;
  font-size: 40px;
  color: #fc7408;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.more .col-md-3 .choose .manyi .baifen font {
  font-size: 0.6em;
}
.more .col-md-3 .choose .manyi .rensu {
  width: 65%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10px;
  color: #fc7408;
}
.more .col-md-3 .choose .manyi .rensu p {
  margin: 0px;
}
.more .col-md-3 .choose .manyi .rensu font {
  color: #666666;
}
.more .col-md-3 .four {
  background: #f5f5f5;
}
.more .col-md-3 .four h4 {
  padding: 15px 5px 10px 15px;
  margin: 0px;
  border-bottom: 1px solid #D2D1D1;
}
.more .col-md-3 .four .con {
  display: inline-block;
  padding: 10px 15px 10px 15px;
}
.more .col-md-3 .four .con ul li {
  margin: 7px 0px;
}
.more .col-md-3 .four .con ul li .img {
  float: left;
  width: 110px;
  height: 80px;
  margin-right: 10px;
}
.more .col-md-3 .four .con ul li img {
  width: 100%;
  height: 100%;
}
.more .col-md-3 .four .con ul li .matter {
  float: right;
  color: #666;
}
.more .col-md-3 .four .con ul li .matter h6 a {
  color: #666;
  font-size: 1.2em;
}
.more .col-md-3 .four .con ul li .matter h6 a:hover {
  color: #337ab7;
  text-decoration: none;
}
.more .col-md-3 .four .con ul li .matter p font {
  color: #f62;
  font-size: 1.4em;
}
.hanban .sider .right .li a.active:hover {
  color: #fff!important;
}
.hanban .leftcon {
  background: #f5f5f5;
}
.hanban .leftcon h4 {
  border-left: 10px solid #f60;
  padding-left: 10px;
  margin-left: 10px;
}
.hanban .leftcon p {
  padding: 0px 10px;
}
.hanban .leftcon figure {
  text-align: center;
  padding-bottom: 20px;
}
.more-hotel .leftcon {
  background: #f5f5f5;
}
.more-hotel .leftcon .pro {
  float: left;
}
.more-hotel .leftcon .col-md-4 > .single > a {
  display: block;
  height: 190px;
  overflow: hidden;
}
.more-hotel .leftcon .single > a:hover img {
  transform: scale(1.08);
  transition: all 0.4s ease-in-out;
}
.more-hotel .leftcon .col-md-4 {
  padding: 0px;
  margin: 20px 0px;
}
.more-hotel .leftcon .col-md-4 .single {
  background: #fff;
  padding: 0px 5px;
}
.more-hotel .leftcon .col-md-4 img {
  width: 100%;
  height: 100%;
}
.more-hotel .leftcon .col-md-4 .title {
  font-size: 18px;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.more-hotel .leftcon .col-md-4 .price {
  padding: 0px 5px;
}
.more-hotel .leftcon .col-md-4 .price span {
  color: #f62;
}
.more-hotel .leftcon .col-md-4 .price font {
  font-size: 18px;
  font-weight: 600;
}
.more-hotel .leftcon .col-md-4 .xingji {
  color: #999;
  padding: 2px 5px;
  font-size: 12px;
}
.more-hotel .leftcon .col-md-4 .pay {
  padding: 5px 5px;
  text-align: center;
}
.more-hotel .leftcon .col-md-4 .pay a {
  display: block;
  padding: 5px 10px;
  background: #ff5b45;
  color: #fff;
}
.more-hotel .leftcon .col-md-4 .pay a:hover {
  text-decoration: none;
  background: #f71d00;
}
.search .breadcrumb .structure {
  color: #999;
  font-size: 10px;
  padding-top: 3px;
}
.login .col-md-8 {
  float: left;
}
.login .right {
  margin: 2em 0em;
  text-align: center;
}
.login .left .panel-default {
  margin-top: 2.5em;
}
.login .left .form-control,
.login .left .btn-sm,
.login .left .btn-lg {
  border-radius: 0px;
}
.login .left .btn-sm {
  width: 100%;
  padding: 3px 10px;
  background-color: #337ab7;
  border-color: #269abc;
  color: #fff;
  font-size: 18px;
}
.login .left .btn-sm:hover {
  background: #216AA9;
}
.login .left .btn-lg {
  padding: 0.4em;
  background: #999;
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff;
  font-size: 1em;
}
.login .left .btn-lg:hover {
  background: #269abc;
}
.login .left .hezuo {
  color: #c3c3c3;
}
.login .left .hezuo span {
  color: #999;
}
.login .left .hezuo a {
  color: #666;
  padding: 0px 3px;
}
.login .com {
  margin-top: 2.5em;
}
.login .com .show {
  width: 100%;
  height: 450px;
  border: 1px solid #999;
  overflow-y: scroll;
  padding: 10px;
}
.login .com .show h3,
.login .com .show strong {
  color: #26a9e0;
}
.login .com .show h3 {
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}
.login .com .show strong {
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}
.user .col-md-12 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.user .right ul {
  border: 1px solid #efefef;
}
.user .right ul li:hover,
.user .right ul .active {
  background: #efefef;
  border-left: 3px solid #3592E2;
}
.user .right ul li {
  float: none;
  padding: 10px 10px;
  cursor: pointer;
}
.user .right ul li i {
  float: left;
  width: 25px;
  height: 20px;
  margin-left: 20px;
  margin-right: 5px;
  background: url(../image/user_side_menu.png) no-repeat;
}
.user .right ul li:nth-child(1) i {
  background-position: right 0px;
}
.user .right ul li:nth-child(2) i {
  background-position: right -40px;
}
.user .right ul li:nth-child(3) i {
  background-position: right -80px;
}
.user .right ul li:nth-child(4) i {
  background-position: right -399px;
}
.user .right ul li:nth-child(5) i {
  background-position: right -439px;
}
.user .left .com {
  float: left;
  width: 100%;
}
.user .left .com .show1 {
  float: left;
  width: 100%;
}
.user .left .com .show1 .person {
  float: left;
  width: 100%;
  border: 1px solid #fcc773;
  background: #fcfaf2;
}
.user .left .com .show1 .person .tou {
  margin: 1em 0em;
  text-align: center;
}
.user .left .com .show1 .person .tou span {
  font-size: 5em;
}
.user .left .com .show1 .person .ziliao {
  margin: 0.5em 0em;
}
.user .left .com .show1 .person .ziliao dl dt {
  margin-top: 0.5em;
  font-family: "微软雅黑";
  color: #fc7301;
  font-weight: 100;
}
.user .left .com .show1 .person .ziliao dl dt span {
  color: #3592E2;
  font-size: 20px;
  margin-right: 10px;
}
.user .left .com .show1 .person .ziliao dl dd {
  margin: 10px 0px;
}
.user .left .com .show1 .person .ziliao dl dd span {
  margin: 0px 10px;
  color: #f62;
  cursor: pointer;
}
.user .left .com .show1 .person .ziliao dl dd span:last-child {
  color: #333;
}
.user .left .com .show1 .person .ziliao dl dd span:hover {
  text-decoration: underline;
}
.user .left .com .show1 .smart-body {
  margin-top: 1em;
  float: left;
  width: 100%;
}
